a {
  @include hover-link;

  &:link,
  &:visited,
  &:active {
    color: $dark-green;
  }
  &:hover {
    color: $green;
  }
}

body {
  background: image-url('light_toast.png');
}

header {
  background: #000 url('http://subtlepatterns.com/patterns/txture.png'); border-bottom: 0.5em solid $dark-green; color: $white; margin-bottom: 1em; padding: 0.5em 1em 1em 1em; text-align: center;

  h1 {
    font-size: 72px; line-height: 0;
  }

  .dollar-sign {
    color: $green;
  }
}

header, footer {
  clear: both;
}

footer {
  @include inline-block;
  border-top: 1px solid $dark-gray; padding: 0.5em; margin-top: 1em; width: 100%;
}

footer p {
  font-size: 0.75em; color: $dark-gray;
}

.topnav {
  a {
    @include inline-block;
    font-size: 0.95em; margin-right: 0.5em; text-transform: lowercase;
  }
}
